In [ ]:
# 점이력 조회 
WITH DEPT_MNG (DEPT_NO, EMP_NO, CHG_DT) AS  /* 부서 관리자 데이터 */
(
	SELECT 'DEPT001', 'E0001', '2020-01-02'
	UNION	ALL
	SELECT 'DEPT001', 'E0015', '2020-01-13'
	UNION	ALL
	SELECT 'DEPT001', 'E0009', '2020-01-25'
)
SELECT
		A.DEPT_NO		/* 부서번호 */
	  , A.EMP_NO		/* 관리자 사원번호 */
	  , A.CHG_DT ST_DT	/* 변경일자(시작일자) */
	  ,	CASE
			WHEN B.CHG_DT IS NULL
				THEN '(현재)'
				ELSE B.CHG_DT
		END ED_DT		/* 종료일자 */
FROM	(
			SELECT
					DEPT_NO
				  , EMP_NO
				  , CHG_DT
				  , ROW_NUMBER() OVER(PARTITION BY DEPT_NO ORDER BY CHG_DT) RN
			FROM	DEPT_MNG
			WHERE	1 = 1
			AND		DEPT_NO = 'DEPT001'
		)	A
LEFT	JOIN (
				SELECT
						DEPT_NO
					  , EMP_NO
					  , CHG_DT
					  , ROW_NUMBER() OVER(PARTITION BY DEPT_NO ORDER BY CHG_DT) RN
				FROM	DEPT_MNG
				WHERE	1 = 1
				AND		DEPT_NO = 'DEPT001'
			)	B
ON		A.DEPT_NO = B.DEPT_NO
AND		A.RN = B.RN - 1
WHERE	1 = 1
ORDER	BY A.DEPT_NO, ST_DT DESC
;

In [ ]:
# 선분이력 조회
WITH DEPT_MNG (DEPT_NO, EMP_NO, ST_DT, ED_DT) AS  /* 부서 관리자 데이터 */
(
	SELECT 'DEPT001', 'E0001', '2020-01-02', '2020-01-13'
	UNION	ALL
	SELECT 'DEPT001', 'E0015', '2020-01-13', '2020-01-25'
	UNION	ALL
	SELECT 'DEPT001', 'E0009', '2020-01-25', NULL
)
SELECT
		DEPT_NO		/* 부서번호 */
	  , EMP_NO		/* 관리자 사원번호 */
	  , ST_DT		/* 시작일자 */
	  ,	CASE
			WHEN ED_DT IS NULL
				THEN '(현재)'
				ELSE ED_DT
		END ED_DT	/* 종료일자 */
FROM	DEPT_MNG
WHERE	1 = 1
AND		DEPT_NO = 'DEPT001'
ORDER	BY	ST_DT DESC
;

In [ ]:
# 점이력
SELECT A.ID                                                        AS ID
     , A.NEXT_CD                                                   AS CD
     , A.NEXT_DT                                                   AS ST_DT
     , LEAD(A.NEXT_DT) OVER (PARTITION BY A.ID ORDER BY A.NEXT_DT) AS ED_DT
  FROM (
         SELECT ID                                                                                               AS ID
              , TGT_CD                                                                                           AS CD
              , CHG_DTM                                                                                          AS DT
              , ROW_NUMBER() OVER (PARTITION BY ID ORDER BY CHG_DTM)                                             AS RN
              , CASE 
                     WHEN LAG(A.TGT_CD) OVER (PARTITION BY A.ID ORDER BY A.CHG_DTM) IS NOT NULL THEN A.TGT_CD
                     WHEN A.TGT_CD = LEAD(A.TGT_CD) OVER (PARTITION BY A.ID ORDER BY A.CHG_DTM) THEN NULL
                     ELSE LEAD(A.TGT_CD) OVER (PARTITION BY A.ID ORDER BY A.CHG_DTM)
                      END                                                                                        AS NEXT_CD
              , CASE 
                     WHEN LAG(A.TGT_CD) OVER (PARTITION BY A.ID ORDER BY A.CHG_DTM) IS NOT NULL THEN A.CHG_DTM
                     WHEN A.TGT_CD = LEAD(A.TGT_CD) OVER (PARTITION BY A.ID ORDER BY A.CHG_DTM) THEN NULL
                     ELSE LEAD(A.CHG_DTM) OVER (PARTITION BY A.ID ORDER BY A.CHG_DTM)
                      END                                                                                        AS NEXT_DT
           FROM TABLE_LOG A
          WHERE 1=1
            AND ID = 'MEMBER0001'
          GROUP BY ID, TGT_CD, CHG_DTM
       ) A
 WHERE 1=1
   AND A.NEXT_CD IS NOT NULL