In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)
# 이 두줄은 본 필자가 항상 쓰는 방법입니다. 
# matplotlib 의 기본 scheme 말고 seaborn scheme 을 세팅하고, 
# 일일이 graph 의 font size 를 지정할 필요 없이 
# seaborn 의 font_scale 을 사용하면 편합니다.

import missingno as msno

#ignore warnings
import warnings 
warnings.filterwarnings('ignore')

%matplotlib inline

- **데이터셋 확인** 
 - 대부분의 캐글 데이터들은 잘 정제되어 있습니다. 
 - 하지만 가끔 null data가 존재합니다. 
 - 이를 확인하고, 향후 수정합니다.


- **탐색적 데이터 분석(exploratory data analysis)** 
 - 여러 feature 들을 개별적으로 분석하고, feature 들 간의 상관관계를 확인합니다. 
 - 여러 시각화 툴을 사용하여 insight를 얻습니다.
 
 
- **feature engineering** 
 - 모델을 세우기에 앞서, 모델의 성능을 높일 수 있도록 feature 들을 engineering 합니다. 
 - one-hot encoding, class로 나누기, 구간으로 나누기, 텍스트 데이터 처리 등을 합니다.
 
 
- **model 만들기** 
 - sklearn 을 사용해 모델을 만듭니다. 
 - 파이썬에서 머신러닝을 할 때는 sklearn 을 사용하면 수많은 알고리즘을 일관된 문법으로 사용할 수 있습니다. 
 - 물론 딥러닝을 위해 tensorflow, pytorch 등을 사용할 수 도 있습니다.
 
 
- **모델 학습 및 예측** 
 - trainset 을 가지고 모델을 학습시킨 후, testset 을 가지고 prediction 합니다.


- **모델 평가** 
 - 예측 성능이 원하는 수준인지 판단합니다. 
 - 풀려는 문제에 따라 모델을 평가하는 방식도 달라집니다. 
 - 학습된 모델이 어떤 것을 학습하였는 지 확인해봅니다.

In [16]:
df_train = pd.read_csv('Titanic_data/train.csv')
df_test = pd.read_csv('Titanic_data/test.csv')

In [17]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S