In [35]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [24]:
data = pd.read_csv('../Titanic/train.csv')

# *Contents of the Notebook* #  

### Part1: Exploratory Data Analysis(EDA):  ###
1) Analysis of the features

2) Finding any releations or trends considering multiple features

  
### Part2: Feature Enginearing and Data Cleaning ###
1) Adding any few features 

2) Removing redundant feautres

3) Converting features into suitable form for modeling  


### Part3: Predictive Modeling ###
1) Running Basic Algorithms.

2) Cross Validation

3) Ensembling 

4) Important Features Extraction

### How many Survived?? ###

In [ ]:
f,ax=plt.subplots(1,2,figsize=(18,8))
data['Survived'].value_counts().plot.pie(explode=[0,0.1],autopct='%1.1f%%',ax=ax[0],shadow=True)
ax[0].set_title('Survived')
ax[0].set_ylabel('')
sns.countplot('Survived',data=data,ax=ax[1])
ax[1].set_title('Survived')
plt.show()

### Types Of Features ###
#### Categorical Features: ####  
A categorical variable is one that has two or more categories and each value in that feature can be categorised by them.For example, gender is a categorical variable having two categories (male and female). Now we cannot sort or give any ordering to such variables. They are also known as Nominal Variables.

**Categorical Features in the dataset: Sex,Embarked.**  



#### Ordinal Features: ####  
An ordinal variable is similar to categorical values, but the difference between them is that we can have relative ordering or sorting between the values. For eg: If we have a feature like Height with values Tall, Medium, Short, then Height is a ordinal variable. Here we can have a relative sort in the variable.

**Ordinal Features in the dataset: PClass**  



#### Continous Feature: ####  
A feature is said to be continous if it can take values between any two points or between the minimum or maximum values in the features column.

**Continous Features in the dataset: Age**

### Sex -> Categorical Feature ###

In [ ]:
data.groupby(['Sex','Survived'])['Survived'].count()
# 1 = live, 0 = dead

In [ ]:
# 그래프 갯수 및 사이즈 설정
# figure == 한개 액자, ax == 액자 목록
figure, ax = plt.subplots(1,2, figsize=(18,8))

# 첫번째 그래프 표현
data[['Sex', 'Survived']].groupby(['Sex']).mean().plot.bar(ax = ax[0])
#ax[0].set(ylim=(0,1))

# 두번째 그래프 표현
# hue == 갯수로 나타낼 항목
sns.countplot('Sex', hue='Survived', data=data, ax = ax[1])

# 그래프 이름 정하기
ax[0].set_title('Survived vs Sex')
ax[1].set_title('Sex:Survived vs Dead')
plt.legend(['Dead', 'Live'])

plt.show()

### Pclass -> Ordinal Feature ###   

            == 라벨(1,2,3) 인코딩 해도된다.

In [ ]:
pd.crosstab(data.Pclass, data.Survived, margins = True).style.background_gradient(cmap = 'summer_r')

In [ ]:
f,ax=plt.subplots(1,2,figsize=(18,8))

data['Pclass'].value_counts().plot.bar(color=['#CD7F32','#FFDF00','#D3D3D3'],ax=ax[0])

ax[0].set_title('Number Of Passengers By Pclass')
ax[0].set_ylabel('Count')
ax[0].set_xlabel('Pclass')

sns.countplot('Pclass',hue='Survived',data=data,ax=ax[1])
ax[1].set_title('Pclass:Survived vs Dead')

plt.legend(['Dead', 'Live'])
plt.show()

In [144]:
pd.crosstab([data.Sex,data.Survived],data.Pclass,margins=True).style.background_gradient(cmap='summer_r')

In [ ]:
sns.factorplot('Pclass', 'Survived', hue='Sex', data=data)
plt.show()