# 링크 #
https://www.kaggle.com/subinium/subinium-tutorial-titanic-beginner#[%EC%88%98%EB%B9%84%EB%8B%88%EC%9B%80%EC%9D%98-%EC%BA%90%EA%B8%80-%EB%94%B0%EB%9D%BC%ED%95%98%EA%B8%B0]-%ED%83%80%EC%9D%B4%ED%83%80%EB%8B%89-:-Beginner-Ver.

In [92]:
## 데이터 분석 관련
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## 데이터 시각화 관련
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid') # matplotlib의 스타일에 관련한 함
## 그래프 출력에 필요한 IPython 명령어
%matplotlib inline 

## Scikit-Learn의 다양한 머신러닝 모듈을 불러옵니다.
## 분류 알고리즘 중에서 선형회귀, 서포트벡터머신, 랜덤포레스트, K-최근접이웃 알고리즘을 사용해보려고 합니다.
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [93]:
# 데이터 불러오기 
train_df = pd.read_csv("../Titanic/train.csv")
test_df  = pd.read_csv("../Titanic/test.csv")

In [94]:
# 필요없는 컬럼 삭제
train_df = train_df.drop(['PassengerId', 'Name', 'Ticket'], axis=1)
test_df  = test_df.drop(['Name', 'Ticket'], axis=1)

In [95]:
# Pclass의 카테고리(범주형) 데이터로 인식 작업(one-hot-encoding)
pclass_train_dummies = pd.get_dummies(train_df['Pclass'])
pclass_test_dummies = pd.get_dummies(test_df['Pclass'])

train_df.drop(['Pclass'], axis=1, inplace=True)
test_df.drop(['Pclass'], axis=1, inplace=True)

train_df = train_df.join(pclass_train_dummies)
test_df = test_df.join(pclass_test_dummies)

In [96]:
# Sex의 카테고리(범주형) 데이터로 인식 작업(one-hot-encoding)
sex_train_dummies = pd.get_dummies(train_df['Sex'])
sex_test_dummies  = pd.get_dummies(test_df['Sex'])

sex_train_dummies.columns = ['Female', 'Male']
sex_test_dummies.columns  = ['Femala', 'Male']

train_df.drop(['Sex'], axis=1, inplace=True)
test_df.drop(['Sex'] , axis=1, inplace=True)

train_df = train_df.join(sex_train_dummies)
test_df  = test_df.join(sex_test_dummies)

In [97]:
# Age의 연속형 NaN 데이터 처리
train_df["Age"].fillna(train_df["Age"].mean(), inplace=True)
test_df["Age"].fillna(train_df["Age"].mean() , inplace=True)

In [98]:
# fare 
test_df["Fare"].fillna(0, inplace=True)

In [99]:
# Cabin
train_df = train_df.drop(['Cabin'], axis=1)
test_df  = test_df.drop(['Cabin'] , axis=1)

In [100]:
# Embarked
train_df["Embarked"].fillna('S', inplace=True)
test_df["Embarked"].fillna('S', inplace=True)

In [101]:
embarked_train_dummies = pd.get_dummies(train_df['Embarked'])
embarked_test_dummies  = pd.get_dummies(test_df['Embarked'])

embarked_train_dummies.columns = ['S', 'C', 'Q']
embarked_test_dummies.columns  = ['S', 'C', 'Q']

train_df.drop(['Embarked'], axis=1, inplace=True)
test_df.drop(['Embarked'], axis=1, inplace=True)

train_df = train_df.join(embarked_train_dummies)
test_df  = test_df.join(embarked_test_dummies)

In [102]:
# 데이터 나누기 
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()

In [103]:
X_train

           Age  SibSp  Parch     Fare  1  2  3  Female  Male  S  C  Q
0    22.000000      1      0   7.2500  0  0  1       0     1  0  0  1
1    38.000000      1      0  71.2833  1  0  0       1     0  1  0  0
2    26.000000      0      0   7.9250  0  0  1       1     0  0  0  1
3    35.000000      1      0  53.1000  1  0  0       1     0  0  0  1
4    35.000000      0      0   8.0500  0  0  1       0     1  0  0  1
..         ...    ...    ...      ... .. .. ..     ...   ... .. .. ..
886  27.000000      0      0  13.0000  0  1  0       0     1  0  0  1
887  19.000000      0      0  30.0000  1  0  0       1     0  0  0  1
888  29.699118      1      2  23.4500  0  0  1       1     0  0  0  1
889  26.000000      0      0  30.0000  1  0  0       0     1  1  0  0
890  32.000000      0      0   7.7500  0  0  1       0     1  0  1  0

[891 rows x 12 columns]

**머신러닝 알고리즘 적용하기**

In [87]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

Y_pred = logreg.predict(X_test)

logreg.score(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8058361391694725

In [86]:
# Support Vector Mashines

svc = SVC()

svc.fit(X_train, Y_train)

Y_pred = svc.predict(X_test)

svc.score(X_train, Y_train)

0.6868686868686869

In [88]:
# Random Forests

random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

Y_pred = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)

0.9820426487093153

In [89]:
# k-최근접 이웃 알고리즘
knn = KNeighborsClassifier(n_neighbors = 3)

knn.fit(X_train, Y_train)

Y_pred = knn.predict(X_test)

knn.score(X_train, Y_train)

0.835016835016835

**제출용 파일 만들기**

In [91]:
# Random Forests

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)

submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)